$block: 'container';

.#{$block} {
    display: flex;
    background: $color-off-white;
    overflow-x: hidden;

    @include breakpoint(smartphone){
        margin: 0 8%;
    }

    @include breakpoint(tablet-p){
        margin: 0 10%;
    }

    @include breakpoint(tablet-l){
        margin: 0 12%;
    }

    @include breakpoint(laptop){
        margin: 0 14%;
    }

    @include breakpoint(desktop){
        margin: 0 16%;
    }

    @include breakpoint(large-desktop){
        margin: 0 18%;
    }
}